@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html:not([data-scroll="0"]) .nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #fff; */
  opacity: 0.9;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  transition: 0.4s linear;
}

body {
  background-color: #0e0e0e;
}